@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700&display=swap');

p {
  font-family: 'Noto Sans JP', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-flow: column;  
}

.nomal-button {
  margin: 10px 10px 10px 51px;
  padding: 7px 12px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 5px 10px #626262;
  cursor: pointer;
  background-color: #cf9b48;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;    width: 80pxpx;
  height: 30px;
}