@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,700&display=swap');
.header {
    height: 70px;
    background-color: rgba(30, 160, 47, 0.449);
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header h2 {
    padding-top: 8px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 28px;
}

.header h4 {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 15px;
    padding-top: 3px;
}

.settingButton {
    right: 2%;
    top: 1.7%;
    position: absolute;
    width: 30px;
    height: 30px;
    box-shadow: none;
    background-color: rgba(30, 160, 47, 0);
}

.icon {
    position: absolute;
    left: 35%;
    top: 20%;
    width: 20px;
    height: 20px;
}

@media screen and (max-width:480px) {
    .header h2 {
        font-size: 23px;
        padding-top: 14px;
    }
    .header h4 {
      font-size: 11px;
    }

}