.postImage {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

@media screen and (max-width:480px) {
    .postImage {
        width: 90%;
        aspect-ratio: 1/1;
        height: 90%;
        object-fit: cover;
    }
}

.postOuterBox {
    width: 500px;
    margin: 15px 0;
    border: 1px solid #ccc;
    padding: 10px;
}

@media screen and (max-width:480px) {
    .postOuterBox {
        width: 97%;
    }
}

.postText {
    font-size: 1rem;
    font-weight: 400;
    margin: 5px;
}

.userProfileIcon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.userName {
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 10px;
    padding-top: 10px;
}

.postUserInfo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.edit-button {
   background-color: white;
   border: none;
   box-shadow: none;
}

.edit-icon {
    width: 20px;
    height:20px
}