.outerBox {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    padding: 10px 36px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px gray;
    color: gray;
  }
  
  .outerBox h2 {
    font-weight: 600;
    margin: 10px;
  }
  .outerBox p {
    margin-bottom: 10px;
    font-size: 10px;
  }

  .imageUplodeBox {
    border: 2px dashed #2d6395;
    padding: 35px 60px;
    position: relative;
  }
  
  .imageLogoAndText p {
    margin-bottom: 0px;
  }
  
  .imageUploadInput {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .textPost {
    margin: 20px 0;
  }

  .textUploadInput {
    border-radius: 50px;
    border: none;
    background-color: #267af7;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 600;
  }

  button {
    margin-top: 5px;
    padding: 1px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 5px 10px #626262;
    cursor: pointer;
    background-color: #cf9b48;
    color: white;
    font-weight: 300;
    font-size: 1rem;
  }